<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body bgcolor="#00FFFF">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h2 class="partA text-center">WEB322 - Manpreet Kaur</h2>
        <h3 class="text-center">
            <a class="nav-link" href="/posts/add">Add Post</a>&ensp;
            <a href="/blog">Blog</a> &ensp;
            <a href="/posts">Posts</a> &ensp;
            <a href="/categories">Categories</a>&ensp;
            <a href="/login">Login</a>&ensp;
            <a href="/register">Register</a>&ensp;
            <a href="/userHistory">Web-322-Users</a>&ensp;
        </h3>
    </nav><center>
        <img src="manu.jpeg" height="500" width="500">
    </center>
    <center>
        <h1>Personal Info</h1>
        <table width="100%">
            <tr>
                <td align="left"><b>Name:</b></td>
                <td align="right">Manpreet Kaur</td>
            </tr>
            <tr>
                <td align="left"><b>Age:</b></td>
                <td align="right">19</td>
            </tr>
            <tr>
                <td align="left"><b>Personal Number:</b></td>
                <td align="right">6478631301</td>
            </tr>
            <tr>
                <td align="left"><b>Address:</b></td>
                <td align="right">4 Festoon Place, Brampton, Ontario</td>
            </tr>
            <tr>
                <td align="left"><b>Country:</b></td>
                <td align="right">Canada</td>
            </tr>
            <tr>
                <td align="left"><b>Studying In:</b></td>
                <td align="right">Seneca College</td>
            </tr>
            <tr>
                <td align="left"><b>College Email:</b></td>
                <td align="right">mkaur614@myseneca.ca</td>
            </tr>
        </table>
    </center>
    <div>
        <h3 class="text-center">About Me</h3>
        <p>
            Hi everyone, my name is Manpreet Kaur and I am from Kolkata, India. Currently, I am living in Canada for my studies. I chose Seneca College for my future and I am enrolled in computer programming. I am constantly seeking new opportunities to learn and grow and dedicated to making a positive impact in my community. My experience studying this course has been great and has polished my coding skills. Moreover, I have learned a lot. In this diploma, I am now studying WEB322, through which I have learned many languages such as JavaScript, HTML, and CSS. With these skills, I am able to make websites, apps, and more.
        </p>
        <h2 class="text-center">Coming Soon</h2>
        <h4>Stay tuned......</h4>
    </div>
</body>
</html>

