<!DOCTYPE html>
<html>
<head>
    <title>Add Post</title>

    <link rel="stylesheet" href="\public\css\main.css" />
</head>

<body>
    <div class="container">
        <h2>Add Post</h2><br>
        <div class="left-side">
            <h3>Featured Image<hr></h3>
            <form action="/posts/add" method="post" enctype="multipart/form-data">
                <input type="file" id="image" name="image">

        </div><br>
        <h4> Post Content<hr></h4>
        <div class="right-side">

            <div class="form-group">


            </div><br>
        </div>
        <div class="right-side">
            <button type="submit" value="Add" onclick="addpost()" style="float: right;">Add Post</button>
        </div>
        </form>
    </div>
    </div>
    <div id="posts"></div>
    <script src="blog-service.js"></script>
</body>
</html>